## Vault endpoint configuration ##
# development environment
DEV_VAULT_ENDPOINT_HOST=127.0.0.1
DEV_VAULT_ENDPOINT_SCHEME=http
DEV_VAULT_ENDPOINT_PORT=8200

# users secrets access
# example: hvs.CAESI...
DEV_SPRING_USER_CREATOR_VAULT_TOKEN=
DEV_SPRING_USER_READER_VAULT_TOKEN=
DEV_VAULT_USERS_KV_PATH=secret/abernathyclinic-gateway/dev/users/

# in-memory demo users passwords
ORGANIZER1_PASSWORD=
ORGANIZER2_PASSWORD=