# in-memory demo users passwords
ORGANIZER1_PASSWORD=
ORGANIZER2_PASSWORD=
ORGANIZER3_PASSWORD=
DOCTOR1_PASSWORD=
DOCTOR2_PASSWORD=
DOCTOR3_PASSWORD=

## Vault endpoint configuration ##
# development environment
DEV_VAULT_ENDPOINT_HOST=127.0.0.1
DEV_VAULT_ENDPOINT_SCHEME=http
DEV_VAULT_ENDPOINT_PORT=8200

# example: hvs.CAESI...
DEV_SPRING_USER_CREATOR_VAULT_TOKEN=
DEV_SPRING_USER_READER_VAULT_TOKEN=
DEV_VAULT_USERS_KV_PATH=secret/abernathyclinic-gateway/dev/users/

# docker environment
DOCKER_VAULT_ENDPOINT_HOST=127.0.0.1
DOCKER_VAULT_ENDPOINT_SCHEME=http
DOCKER_VAULT_ENDPOINT_PORT=8300

DOCKER_SPRING_USER_CREATOR_VAULT_TOKEN=
DOCKER_SPRING_USER_READER_VAULT_TOKEN=
DOCKER_VAULT_USERS_KV_PATH=secret/abernathyclinic-gateway/docker/users/

# testing
TEST_VAULT_ENDPOINT_HOST=127.0.0.1
TEST_VAULT_ENDPOINT_SCHEME=http
TEST_VAULT_ENDPOINT_PORT=8300

# users secrets access
TEST_SPRING_USER_CREATOR_VAULT_TOKEN=TEST_TOKEN
TEST_SPRING_USER_READER_VAULT_TOKEN=TEST_TOKEN
TEST_VAULT_USERS_KV_PATH=secret/abernathyclinic-gateway/test/users/